<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/util.css">
</head>
<body>
    <%- include('./header.ejs') %>
    <h1>Главная страница</h1>
    <p>Добро пожаловать на главную страницу!</p>
</body>
</html>